main
{
    display: grid;
    grid-template-areas:
        'c'
        't'
        ;
    margin: auto;
    text-decoration: none;
}
#cim,#alcim,#lista,#sajatnev
{
    margin: auto;
}
#cim
{
    grid-area:c;
    text-align: center;
    font-weight: bold;
}
#lista
{
    grid-area: t;
    background-color: cornflowerblue;
    border-radius: 8px;
    margin-top: 1.5%;
    padding: 15px;
}
#alcim
{
    text-align: center;
}
#input
{
    display: inline-block;
}
#add
{
    border-radius: 4px;
    background-color: pink;
}
#sajatnev
{
    text-align: center;
}
#todonev,#vegIdo
{
    height: 20px;
}
ul
{
    list-style: none;
}

ul li
{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    min-height: 25px;
}